<h1>Search image</h1>
<mat-divider></mat-divider>
<br>
<div fxLayout="row">
  <mat-form-field fxFlex="30" fxFlex.md="50" fxFlex.xs="90" appearance="fill">
    <mat-label>Search images</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Search images"
      matInput
      [ngModel]="termino"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="opcionSeleccionada(termino)">
      <mat-option
        *ngFor="let item of imagenes" [value]="item">
        {{ item }}
      </mat-option>
      <mat-option value="" *ngIf="imagenes.length === 0 && termino.trim().length > 0">
        No se encuentra nada con {{ termino }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>

<div>
  
</div>







