
<pre>{{ galeriaActual | json }} </pre>

<h1>Gallery {{ (galeriaActual ? galeriaActual.titulo_galeria : '')  }}</h1>

<mat-divider></mat-divider>
<br />
<app-select-galeria (onCargarGaleria)="recargar($event)"></app-select-galeria>

<div *ngIf="galeriaActual && imagenes.length > 0; else Sindatos"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px">
   <!-- <div fxFlex="20" fxFlex.sm="50" *ngFor="let item of imagenes">
    <app-tarjeta [imagen]="item" (onVerDetalle)="verDetalle($event)"></app-tarjeta> -->
    <app-grid [imagenes]="imagenes" (onVerDetalle)="verDetalle($event)"></app-grid>

  <!-- </div> -->
</div>

<ng-template #Sindatos>
  <div>No hay nada que mostrar</div>
</ng-template>


<!-- si se pulso el botón debe pasar esto a ser verdadero y que se muestre -->
<div *ngIf="abrirModal == true">
  <app-img-modal [imagen]="imgDetalle"
  (onVerDetalle)="verDetalle( $event )"
  ></app-img-modal>
</div>



