<h1>Galleries</h1>
<mat-divider></mat-divider>
<br />
<!--
<div *ngIf="!cargado" class="preloder">
  <div class="loader"></div>
</div>
-->

<div class="container" fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column">

  <figure *ngFor="let menu of menuGalerias | slice:0:newLength" class="snip0015">
    <img [src]="menu.imagen_galeria | galeria" alt="{{ menu.titulo_galeria }}" />
    <figcaption>
      <h2>{{menu.titulo_galeria}}</h2>
      <p>{{ menu.desc_galeria }}</p>
      <a [routerLink]="['/galerias', menu.directorio_galeria]"></a>
    </figcaption>
  </figure>
</div>
<div class="btncentro" *ngIf="newLength < menuGalerias.length">
  <button mat-button (click)="showMore()">Load More</button>
</div>
