<div fxLayout="row">
    <mat-form-field fxFlex="25" fxFlex.md="50" fxFlex.xs="90" appearance="fill">
      <mat-label>Search gallery</mat-label>
      <input
        type="text"
        placeholder="Change of gallery"
        aria-label="Search gallery"
        matInput
        [(ngModel)]="termino"
        (click)="termino = ''"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="opcionSeleccionada($event)">
        <mat-option
          *ngFor="let item of galerias" [value]="item">
          {{ item.titulo_galeria }}
        </mat-option>

      </mat-autocomplete>

    </mat-form-field>

  </div>
